<div class="chat-container">
  <div class="chat-title">
    <h2> Discutez avec <span> Franklin </span></h2>
  </div>
  <div class="chat-messages">
  <% @chat.messages.order(:created_at).each do |message| %>
    <div class="message <%= message.role == 'user' ? 'message-user' : 'message-bot' %>">
      <div class="message-content <%= message.role == 'user' ? 'bubble-user' : 'bubble-bot' %>">
        <%= simple_format(message.content) %>
      </div>
    </div>
  <% end %>
</div>




  <div class="chat-input">
    <%= form_with model: [@chat, Message.new], url: chat_messages_path(@chat) do |f| %>
      <div class="input-wrapper">
        <label class="file-upload-btn">
    <i class="fa-solid fa-paperclip"></i>
    <%= f.file_field :file, style: "display: none;" %>
    </label>
    <%= f.text_area :content, placeholder: "Envoyer un message...", rows: 1 %>
    <%= f.submit "➤" %>
      </div>
    <% end %>
  </div>
</div>
