<div class="container">

  <div class="card_header row justify-content-center">
    <div class="col-12 col-lg-7 text-center">
      <h1>Lancez votre Saas avec </h1>
      <h1><span> une stratégie marketing IA </span></h1>
        <p>Franklin aide les SaaS en phase de lancement à créer, automatiser et optimiser
          leur stratégie marketing. De l'analyse à l'exécution, pilotez vos campagnes avec intelligence.</p>
          <div class="text-center mt-5">
          <%= button_to "Lancer Franklin", chats_path, class: "btn home-btn" %>
          </div>
    </div>
  </div>

  <div class="cards">
    <div class="card-category">
      <i class="icon-home fa-sharp fa-solid fa-bullseye"></i>
      <h2>Stratégie personnalisée</h2>
      <p>Créez des stratégies marketing adaptées à votre SaaS avec des KPI ciblés et
        des objectifs mesurables.
      </p>
    </div>

    <div class="card-category">
      <i class="icon-home fa-solid fa-bolt"></i>
      <h2>Automation intelligente</h2>
      <p>Créez des stratégies marketing adaptées à votre SaaS avec des KPI ciblés et
     des objectifs mesurables.</p>
    </div>

    <div class="card-category">
      <i class="icon-home fa-solid fa-chart-simple"></i>
      <h2>Analytics en temps réel</h2>
      <p>Suivez vos performances avec un dashboard complet : ROI, conversions, leads et plus.</p>
    </div>
  </div>


<div class="span12 widget-span widget-type-cell cell_16727496178665-background-layers cell_16727496178665-background-color dnd-column">

</div>

<div class="photo-scroll-container mt-4">
  <div class="photo-scroll">
    <%= image_tag "pokeplant.png", alt: "Client 1" %>
    <%= image_tag "opendevis.png", alt: "Client 2" %>
    <%= image_tag "ludex.png", alt: "Client 3" %>

   <%= image_tag "pokeplant.png", alt: "Client 1" %>
    <%= image_tag "opendevis.png", alt: "Client 2" %>
    <%= image_tag "ludex.png", alt: "Client 3" %>
  </div>
</div>

    <div class="card-banner mb-5">
      <h2>Prêt à transformer votre marketing ?</h2>
      <p>Rejoignez les SaaS qui automatisent leur <br> croissance avec Franklin</p>
      <div class="text-center mt-2">
        <%= button_to "Commencer maintenant", chats_path, class: "home-btn" %>
      </div>
    </div>
</div>
